{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    
    <title> {% block title %} {% endblock %} </title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'docker/css/dashboard.css' %}">

    <link rel="stylesheet", type="text/css", href="">
  </head>
  <body>
        <nav class="sidebar">
          <header>
              <div class="image-text">
                  <span class="image">
                      <img src="{% static 'docker/logo.png' %}" alt="logo">
                  </span>

                  <div class="text header-text">
                      <span class="name">GalaxyPlay</span>
                      <span class="profession">Deploy Tool</span>
                  </div>
              </div>
              <i class='bx bx-chevron-right toggle'></i>
              <div class="menu-bar">
                  <div class="menu">
                      <li class="search-box">
                          <i class='bx bx-search icon'></i>
                          <input type="text" placeholder="Search...">
                      </li>
                      <ul class="menu-links">
                          <li class="nav-link">
                              <a href="#">
                                  <i class='bx bx-home-alt icon' ></i>
                                  <span class="text nav-text">Dashboard</span>
                              </a>
                          </li>
      
                          <li class="nav-link">
                              <a href="#">
                                  <i class='bx bx-bar-chart-alt-2 icon' ></i>
                                  <span class="text nav-text">Services</span>
                              </a>
                          </li>
      
                          <li class="nav-link">
                              <a href="#">
                                  <i class='bx bx-customize icon'></i>
                                  <span class="text nav-text">Deploy Env</span>
                              </a>
                          </li>

                          <li class="nav-link">
                              <a href="#">
                                  <i class='bx bx-history icon'></i>
                                  <span class="text nav-text">Deploy History</span>
                              </a>
                          </li>
      
                      </ul>
                  </div>
                  <div class="bottom-content">
                      <li class="">
                          <a href="#">
                              <i class='bx bx-log-out icon' ></i>
                              <span class="text nav-text">Logout</span>
                          </a>
                      </li>
      
                      <li class="mode">
                          <div class="sun-moon">
                              <i class='bx bx-moon icon moon'></i>
                              <i class='bx bx-sun icon sun'></i>
                          </div>
                          <span class="mode-text text">Dark mode</span>
      
                          <div class="toggle-switch">
                              <span class="switch"></span>
                          </div>
                      </li>
                      
                  </div>
              </div>
          </header>
      </nav>
      <section class="home">

        {% block body %}
        {% endblock %}

      </section>
    {% block script %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="{% static 'docker/js/dashboard.js' %}"></script>
    {% endblock %}
  </body>
  {% block js %}
  
  {% endblock %}
</html>